@model WebApplication1.Models.Meta

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Meta</h1>


<div>
   

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prioridad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prioridad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
    
    <div class="mt-4 d-flex justify-content-between">

        <!-- BOTÓN REGRESAR -->
        <a asp-action="Index"
           class="btn btn-outline-secondary">
            ⬅️ Regresar
        </a>

        <!-- BOTÓN ELIMINAR -->
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="MetaID" />
            <button type="submit" class="btn btn-danger">
                🗑️ Eliminar
            </button>
        </form>

    </div>

</div>
